.main-quiz {
    flex: 1 calc(100vh - 110px);
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 4em;
  }

  .quiz-frame {
    width: 260px;
    display: inline-block;
    align-items: center;
    text-align: center;
  } 

.float-none {
  float: none;
}
